#
#	This file needs to be on /etc/systemd/system/
#
[Unit]
Description=Generate website for snapshots
After=mount-usb.service

[Service]
Type=exec
ExecStart=/home/embed/generate_website/bin/python3 /home/embed/generate_website/generate_website.py /exdrive/Snapshots/Local/ /var/www/html/ "Intrusion Detection"

User=embed
CPUSchedulingPolicy=rr
CPUSchedulingPriority=30
Restart=always
RestartSec=2048

[Install]
WantedBy=multi-user.target

